<a href="https://colab.research.google.com/github/ishreiya27/curious/blob/master/Ass2_BigDataAnalytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
#Importing the data as a pandas dataframe and printing its shape

import pandas as pd
amazon_df = pd.read_csv("/content/Amazon_Responded_Oct05.csv", error_bad_lines=False) 
amazon_df.head()
amazon_df.shape

In [5]:
# Removing all Null values from the dataframe amazon_df and printing the new dimensions

amazon_clean = amazon_df.dropna(how="all")
amazon_clean.shape

(378132, 25)

In [0]:
DateField = amazon_clean["tweet_created_at"].str.split(" ", n = 6, expand = True) 
  
amazon_clean["WeekDay"]= DateField[0] 
amazon_clean["Month"]= DateField[1] 
amazon_clean["Date"]= DateField[2] 
amazon_clean["TimeStamp"]= DateField[3] 
amazon_clean["Geo"]= DateField[4] 
amazon_clean["Year"]= DateField[5]

In [0]:
amazon_clean['Create_Date'] = amazon_clean[['Month', 'Date']].apply(lambda x: ' '.join(x), axis=1)

In [0]:
amazon_clean.head(5)

In [9]:
# Converting Pandas Dataframe into Spark RDD Dataframe
amazon_clean = amazon_clean.astype(str) # Converting pandas df to string first
Tweet_sdf = spark.createDataFrame(amazon_clean)
Tweet_sdf.show(10, False) # False allows us to show entire content of the columns

+--------------------+------------------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+----------------------------------------------------------------------------------------------------------------------------------------------+-------------+-------------+--------------------+------------------+------------------------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------+-------+-----+----+---------+-----+----+-----------+
|id_str              |tweet_created_at              |user_screen_name|user_id_str|user_statuses_count|user_favourites_count|user_protected|user_listed_count|user_following|user_description                                                                                                                              |user_location|user_verified|user_followers_count|user_friends_count|user_created_at               |tweet_language|text_                                                                                                                                     |favorite_count|favorited|in_reply_to_screen_name|in_reply_to_status_id_str|in_reply_to_user_id_str|retweet_count|retweeted|text                                                                                                                                     |WeekDay|Month|Date|TimeStamp|Geo  |Year|Create_Date|
+--------------------+------------------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+----------------------------------------------------------------------------------------------------------------------------------------------+-------------+-------------+--------------------+------------------+------------------------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------+-------+-----+----+---------+-----+----+-----------+
|'793270689780203520'|Tue Nov 01 01:57:25 +0000 2016|SeanEPanjab     |143515471.0|51287              |4079                 |False         |74               |False         |Content marketer; Polyglot; Beard aficionado; Sikh. Persian, Catalan, French, Spanish. You'll find lol in the interstitial lulls of my tweets.|غریب الوطن   |False        |1503                |850               |Thu May 13 17:43:52 +0000 2010|en            |@AmazonHelp Can you please DM me? A product I ordered last year never arrived.                                                            |0             |False    |AmazonHelp             |nan                      |85741735.0             |0            |False    |nan                                                                                                                                      |Tue    |Nov  |01  |01:57:25 |+0000|2016|Nov 01     |
|'793281386912354304'|Tue Nov 01 02:39:55 +0000 2016|AmazonHelp      |85741735.0 |2225450            |11366                |False         |796              |False         |We answer Amazon support questions 7 days a week. Support available in English / Deutsch / Español / Português / Français / Italiano / 日本語 |nan          |True         |149569              |53                |Wed Oct 28 04:17:54 +0000 2009|en            |@SeanEPanjab I'm sorry, we're unable to DM you. Was this order purchased on https://t.co/nUUp5MLhYl, or one of our other sites? ^CL       |0             |False    |SeanEPanjab            |7.932706897802035e+17    |143515471.0            |0            |False    |nan                                                                                                                                      |Tue    |Nov  |01  |02:39:55 |+0000|2016|Nov 01     |
|'793501578766319616'|Tue Nov 01 17:14:53 +0000 2016|SeanEPanjab     |143515471.0|51287              |4079                 |False         |74               |False         |Content marketer; Polyglot; Beard aficionado; Sikh. Persian, Catalan, French, Spanish. You'll find lol in the interstitial lulls of my tweets.|غریب الوطن   |False        |1503                |850               |Thu May 13 17:43:52 +0000 2010|en            |@AmazonHelp It was purchased on https://t.co/gPWnuSkbwC.                                                                                  |0             |False    |AmazonHelp             |7.932813869123543e+17    |85741735.0             |0            |False    |@AmazonHelp It was purchased on https://t.co/gPWnuSkbwC.                                                                                 |Tue    |Nov  |01  |17:14:53 |+0000|2016|Nov 01     |
|'793501657346682880'|Tue Nov 01 17:15:12 +0000 2016|SeanEPanjab     |143515471.0|51287              |4079                 |False         |74               |False         |Content marketer; Polyglot; Beard aficionado; Sikh. Persian, Catalan, French, Spanish. You'll find lol in the interstitial lulls of my tweets.|غریب الوطن   |False        |1503                |850               |Thu May 13 17:43:52 +0000 2010|en            |@AmazonHelp I am following you now, if it helps to DM.                                                                                    |0             |False    |AmazonHelp             |7.932813869123543e+17    |85741735.0             |0            |False    |nan                                                                                                                                      |Tue    |Nov  |01  |17:15:12 |+0000|2016|Nov 01     |
|'793502854459879424'|Tue Nov 01 17:19:57 +0000 2016|AmazonHelp      |85741735.0 |2225450            |11366                |False         |796              |False         |We answer Amazon support questions 7 days a week. Support available in English / Deutsch / Español / Português / Français / Italiano / 日本語 |nan          |True         |149569              |53                |Wed Oct 28 04:17:54 +0000 2009|en            |@SeanEPanjab Please give us a call/chat so we can look into this order for you: https://t.co/hApLpMlfHN. ^HB                              |0             |False    |SeanEPanjab            |7.935015787663196e+17    |143515471.0            |0            |False    |@SeanEPanjab Please give us a call/chat so we can look into this order for you: https://t.co/hApLpMlfHN. ^HB                             |Tue    |Nov  |01  |17:19:57 |+0000|2016|Nov 01     |
|'793504235400884224'|Tue Nov 01 17:25:26 +0000 2016|AmazonHelp      |85741735.0 |2225450            |11366                |False         |796              |False         |We answer Amazon support questions 7 days a week. Support available in English / Deutsch / Español / Português / Français / Italiano / 日本語 |nan          |True         |149569              |53                |Wed Oct 28 04:17:54 +0000 2009|en            |@SeanEPanjab Without providing any sensitive information, do the order details indicate that the item was ever shipped? ^SW               |0             |False    |SeanEPanjab            |7.935016573466829e+17    |143515471.0            |0            |False    |nan                                                                                                                                      |Tue    |Nov  |01  |17:25:26 |+0000|2016|Nov 01     |
|'793511847899070465'|Tue Nov 01 17:55:41 +0000 2016|SeanEPanjab     |143515471.0|51287              |4079                 |False         |74               |False         |Content marketer; Polyglot; Beard aficionado; Sikh. Persian, Catalan, French, Spanish. You'll find lol in the interstitial lulls of my tweets.|غریب الوطن   |False        |1503                |850               |Thu May 13 17:43:52 +0000 2010|en            |@AmazonHelp It was shipped and possibly delivered to my old place of employment. But when I asked for it, no one had it. And so I wonder +|0             |False    |AmazonHelp             |7.935042354008842e+17    |85741735.0             |0            |False    |nan                                                                                                                                      |Tue    |Nov  |01  |17:55:41 |+0000|2016|Nov 01     |
|'793511899279208449'|Tue Nov 01 17:55:54 +0000 2016|SeanEPanjab     |143515471.0|51287              |4079                 |False         |74               |False         |Content marketer; Polyglot; Beard aficionado; Sikh. Persian, Catalan, French, Spanish. You'll find lol in the interstitial lulls of my tweets.|غریب الوطن   |False        |1503                |850               |Thu May 13 17:43:52 +0000 2010|en            |@AmazonHelp if it was lost. I have the order #.                                                                                           |0             |False    |AmazonHelp             |7.935042354008842e+17    |85741735.0             |0            |False    |nan                                                                                                                                      |Tue    |Nov  |01  |17:55:54 |+0000|2016|Nov 01     |
|'793513446633533440'|Tue Nov 01 18:02:03 +0000 2016|AmazonHelp      |85741735.0 |2225450            |11366                |False         |796              |False         |We answer Amazon support questions 7 days a week. Support available in English / Deutsch / Español / Português / Français / Italiano / 日本語 |nan          |True         |149569              |53                |Wed Oct 28 04:17:54 +0000 2009|en            |@SeanEPanjab I'm not able to access account info here. Please reach out by Phone/Chat so we can look at this: https://t.co/EKXRLsnxJu ^GL |0             |False    |SeanEPanjab            |7.935118992792084e+17    |143515471.0            |0            |False    |@SeanEPanjab I'm not able to access account info here. Please reach out by Phone/Chat so we can look at this: https://t.co/EKXRLsnxJu ^GL|Tue    |Nov  |01  |18:02:03 |+0000|2016|Nov 01     |
|'793299404975247360'|Tue Nov 01 03:51:31 +0000 2016|aakashwangnoo   |71457972.0 |592                |471                  |False         |11               |False         |Don't try to be GOD in your lives...Let HIM work in your lives...and see the magic that he weaves...                                          |New Delhi    |False        |234                 |57                |Fri Sep 04 04:55:01 +0000 2009|en            |@JeffBezos @amazonIN @AmazonHelp Tring...Tring...Tring Who's There? Your Suffering Customers from India Mr. Bezos...Get Up and Help!      |0             |False    |JeffBezos              |nan                      |15506669.0             |0            |False    |nan                                                                                                                                      |Tue    |Nov  |01  |03:51:31 |+0000|2016|Nov 01     |
+--------------------+------------------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+----------------------------------------------------------------------------------------------------------------------------------------------+-------------+-------------+--------------------+------------------+------------------------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------+-------+-----+----+---------+-----+----+-----------+
only showing top 10 rows

In [0]:
#file_loc = '/content/Amazon_Responded_Oct05.csv'

In [0]:
#TweetData = spark.read.csv(file_loc, inferSchema=True, header=True )

In [0]:
# Checking the datatype of our Spark RDD file Tweet_sdf
print(type(Tweet_sdf))

<class 'pyspark.sql.dataframe.DataFrame'>

In [0]:
# Checking the datatypes of each variable in Tweet_sdf
Tweet_sdf.printSchema()

In [0]:
# Printing the first 20 rows of Spark RDD Tweet_sdf
Tweet_sdf.show()

In [10]:
# Extracting columns 'id_str', 'tweet_created_at', 'user_verified', user_favourites_count', 'retweet_count' and 'text_' for our analysis
TweetDataCol = Tweet_sdf.select(Tweet_sdf.id_str, Tweet_sdf.Create_Date, Tweet_sdf.user_verified, Tweet_sdf.user_favourites_count, Tweet_sdf.retweet_count, Tweet_sdf.text_)
TweetDataCol.show(20, False)

+--------------------+-----------+-------------+---------------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------+
|id_str              |Create_Date|user_verified|user_favourites_count|retweet_count|text_                                                                                                                                                        |
+--------------------+-----------+-------------+---------------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------+
|'793270689780203520'|Nov 01     |False        |4079                 |0            |@AmazonHelp Can you please DM me? A product I ordered last year never arrived.                                                                               |
|'793281386912354304'|Nov 01     |True         |11366                |0            |@SeanEPanjab I'm sorry, we're unable to DM you. Was this order purchased on https://t.co/nUUp5MLhYl, or one of our other sites? ^CL                          |
|'793501578766319616'|Nov 01     |False        |4079                 |0            |@AmazonHelp It was purchased on https://t.co/gPWnuSkbwC.                                                                                                     |
|'793501657346682880'|Nov 01     |False        |4079                 |0            |@AmazonHelp I am following you now, if it helps to DM.                                                                                                       |
|'793502854459879424'|Nov 01     |True         |11366                |0            |@SeanEPanjab Please give us a call/chat so we can look into this order for you: https://t.co/hApLpMlfHN. ^HB                                                 |
|'793504235400884224'|Nov 01     |True         |11366                |0            |@SeanEPanjab Without providing any sensitive information, do the order details indicate that the item was ever shipped? ^SW                                  |
|'793511847899070465'|Nov 01     |False        |4079                 |0            |@AmazonHelp It was shipped and possibly delivered to my old place of employment. But when I asked for it, no one had it. And so I wonder +                   |
|'793511899279208449'|Nov 01     |False        |4079                 |0            |@AmazonHelp if it was lost. I have the order #.                                                                                                              |
|'793513446633533440'|Nov 01     |True         |11366                |0            |@SeanEPanjab I'm not able to access account info here. Please reach out by Phone/Chat so we can look at this: https://t.co/EKXRLsnxJu ^GL                    |
|'793299404975247360'|Nov 01     |False        |471                  |0            |@JeffBezos @amazonIN @AmazonHelp Tring...Tring...Tring Who's There? Your Suffering Customers from India Mr. Bezos...Get Up and Help!                         |
|'793301295255945216'|Nov 01     |True         |11366                |0            |@aakashwangnoo Hi there, kindly write back to us with the details requested so we can proceed further with this.  ^KJ                                        |
|'793407430344310785'|Nov 01     |False        |471                  |0            |@AmazonHelp How many times do you want to write back to you guys??? Check the complaints through email regarding  Order 171-1338898-5999507.                 |
|'793423313674571776'|Nov 01     |True         |11366                |0            |@aakashwangnoo Hi! We have responded to you here: https://t.co/v4YVCa3rff ^SG(1/2)                                                                           |
|'793423314333134850'|Nov 01     |True         |11366                |0            |@aakashwangnoo Please don’t provide your order details as we consider them to be personal info. Our page is visible to public. ^SG(2/2)                      |
|'793467086869630977'|Nov 01     |False        |471                  |0            |@AmazonHelp @amazonIN I am providing my order details as even after providing that ur CC Team is repeatedly shooting me cut copy paste email                 |
|'793492430666498050'|Nov 01     |True         |11366                |0            |@aakashwangnoo Hi, I believe we have already got back to you on this. Kindly check for the correspondence here: https://t.co/NTkrxpsbHJ ^AB                  |
|'793535036213501952'|Nov 01     |False        |471                  |0            |@AmazonHelp @amazonIN @JeffBezos @consumeraction @ConsumerAffairs @ConsumersUnion You want to silent my voice and call that as Answers to me                 |
|'793535221329113088'|Nov 01     |False        |471                  |0            |@AmazonHelp @amazonIN @JeffBezos @consumeraction @ConsumerAffairs @ConsumersUnion SHAME on you Team Amazon India...SHAME SHAME SHAME!!!                      |
|'793537840533471232'|Nov 01     |False        |471                  |0            |@AmazonHelp @amazonIN @JeffBezos @consumeraction @ConsumerAffairs @ConsumersUnion Please see attachments. These are Amazon responses. https://t.co/W9FcqQVtCC|
|'793538125884645376'|Nov 01     |False        |471                  |0            |@AmazonHelp @amazonIN @JeffBezos @consumeraction @ConsumerAffairs @ConsumersUnion and these are my responses. https://t.co/vTwhtX5oBt                        |
+--------------------+-----------+-------------+---------------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [0]:
# Step 1: Remove the records where “user_verified” is “FALSE”.
# Using Filter function to remove the rows with “user_verified” as “FALSE”

TweetDatafilter = TweetDataCol.rdd.filter(lambda TweetDataCol:'True' in  TweetDataCol[2])

In [0]:
# Printing 5 rows of TweetDatafilter to check the filter
TweetDatafilter.take(5)

In [0]:
type(TweetDatafilter)

pyspark.rdd.PipelinedRDD

In [13]:
#print(type(TweetDatafilter))
TweetDatafilter.count()

171898

In [14]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

#sc = SparkContext()
#tweets = spark.sparkContext.parallelize(TweetDatafilter.collect())

TweetDatafilter = TweetDatafilter.toDF()
type(TweetDatafilter)

pyspark.sql.dataframe.DataFrame

In [0]:
# Task 2: For the remaining records (“user_verified” is “TRUE”), group by created date, and count the number of tweets for each date.

import pyspark.sql.functions as f

groupeByDate = TweetDatafilter.groupby('Create_Date').count().withColumnRenamed("count","tweet_count")

In [16]:
groupeByDate.sort((groupeByDate.tweet_count).desc()).show(100)

+-----------+-----------+
|Create_Date|tweet_count|
+-----------+-----------+
|     Jan 03|       1536|
|     Jan 10|       1508|
|     Jan 11|       1496|
|     Jan 12|       1410|
|     Jan 06|       1364|
|     Jan 07|       1360|
|     Jan 20|       1342|
|     Mar 02|       1298|
|     Jan 13|       1295|
|     Jan 21|       1292|
|     Jan 14|       1290|
|     Jan 18|       1286|
|     Dec 15|       1279|
|     Jan 24|       1259|
|     Nov 18|       1249|
|     Dec 03|       1201|
|     Jan 02|       1196|
|     Jun 27|       1192|
|     Jul 04|       1190|
|     Jan 19|       1175|
|     Jan 25|       1163|
|     Jan 23|       1149|
|     Jan 08|       1143|
|     Jan 17|       1124|
|     May 11|       1120|
|     Jul 03|       1112|
|     Mar 30|       1109|
|     Apr 05|       1089|
|     Jan 26|       1083|
|     Jan 27|       1080|
|     Jun 20|       1074|
|     Jan 04|       1071|
|     Nov 05|       1058|
|     Feb 22|       1058|
|     Feb 09|       1054|
|     Jun 23|       1045|
|     Jun 30|       1040|
|     Jan 22|       1024|
|     May 03|       1020|
|     Mar 08|       1019|
|     Jul 29|       1019|
|     Mar 29|       1018|
|     Apr 18|       1016|
|     Jan 16|       1007|
|     Jan 15|       1006|
|     Jun 07|       1004|
|     Jan 09|       1003|
|     Feb 02|        987|
|     Jun 02|        982|
|     Dec 10|        979|
|     Dec 13|        979|
|     Dec 26|        978|
|     Jan 30|        968|
|     Feb 28|        968|
|     Feb 03|        960|
|     Jan 28|        956|
|     Jun 28|        955|
|     Apr 21|        955|
|     Feb 14|        953|
|     Nov 29|        952|
|     Feb 23|        940|
|     Feb 08|        926|
|     Jul 05|        925|
|     Feb 16|        924|
|     Mar 31|        921|
|     Feb 15|        920|
|     Feb 13|        920|
|     Dec 11|        918|
|     Jan 31|        914|
|     Nov 23|        907|
|     Mar 09|        906|
|     Feb 01|        902|
|     Feb 21|        898|
|     Dec 04|        884|
|     Feb 10|        880|
|     Apr 14|        878|
|     Nov 02|        878|
|     Feb 27|        876|
|     Feb 07|        875|
|     Dec 01|        875|
|     Apr 01|        872|
|     Feb 04|        869|
|     Feb 11|        868|
|     Jul 16|        864|
|     Apr 10|        863|
|     May 24|        843|
|     Dec 31|        835|
|     Feb 24|        835|
|     Dec 05|        824|
|     Dec 21|        819|
|     Jul 19|        817|
|     May 29|        816|
|     Feb 06|        814|
|     May 19|        802|
|     Jun 25|        801|
|     May 13|        798|
|     Jun 13|        792|
|     Nov 20|        789|
|     Feb 25|        786|
|     Jul 11|        783|
+-----------+-----------+
only showing top 100 rows

In [0]:
# Task 3

In [0]:
# Filter the records with the date of highest number of tweets, i.e., Jan 03

Task3Data = TweetDatafilter

Task3Data = Task3Data.rdd.filter(lambda Task3Data:'Jan 03' in  Task3Data[1])

In [18]:
Task3Data.take(5)

[Row(id_str="'816139627270721537'", Create_Date='Jan 03', user_verified='True', user_favourites_count='11066', retweet_count='0', text_="@mcp111 Hey! We'll have this looked into internally. Thanks for your patience. ^HK"),
 Row(id_str="'816357712732819467'", Create_Date='Jan 03', user_verified='True', user_favourites_count='11066', retweet_count='0', text_="@mcp111 Hi there, you can change the country from the settings. Please reach us via the link provided earlier and we'll help you out, ^VM"),
 Row(id_str="'816167583263162369'", Create_Date='Jan 03', user_verified='True', user_favourites_count='11081', retweet_count='0', text_="@stevebrowne Hi Steve, sorry to hear this. As we can't view accounts here, please contact here for more options: https://t.co/JzP7hlA23B ^CJ"),
 Row(id_str="'816326113660174336'", Create_Date='Jan 03', user_verified='True', user_favourites_count='11066', retweet_count='0', text_="@boozysmurf We'd like the chance to look into this w/ you &amp; investigate further. Pls reach out by phone/chat: https://t.co/3pBuw1SV0L ^KD"),
 Row(id_str="'816359349358575616'", Create_Date='Jan 03', user_verified='True', user_favourites_count='11066', retweet_count='0', text_='@MeghanSuslak If you have the tracking ID from the shipping label, please contact us by phone or chat here: https://t.co/CYqkdUakWJ ^GL')]

In [19]:
Task3Data = Task3Data.toDF()
type(Task3Data)

pyspark.sql.dataframe.DataFrame

In [0]:

from pyspark.sql.types import IntegerType
Task3Data = Task3Data.withColumn("user_favourites_count", Task3Data["user_favourites_count"].cast(IntegerType()))
Task3Data = Task3Data.withColumn("retweet_count", Task3Data["retweet_count"].cast(IntegerType()))

In [0]:
Task3Data.printSchema()

root
 |-- id_str: string (nullable = true)
 |-- Create_Date: string (nullable = true)
 |-- user_verified: string (nullable = true)
 |-- user_favourites_count: integer (nullable = true)
 |-- retweet_count: integer (nullable = true)
 |-- text_: string (nullable = true)

In [0]:
Task3Data = Task3Data.withColumn('Sum_favourites_retweets', Task3Data.user_favourites_count+ Task3Data.retweet_count)

In [22]:
Task3Data.take(5)

[Row(id_str="'816139627270721537'", Create_Date='Jan 03', user_verified='True', user_favourites_count=11066, retweet_count=0, text_="@mcp111 Hey! We'll have this looked into internally. Thanks for your patience. ^HK", Sum_favourites_retweets=11066),
 Row(id_str="'816357712732819467'", Create_Date='Jan 03', user_verified='True', user_favourites_count=11066, retweet_count=0, text_="@mcp111 Hi there, you can change the country from the settings. Please reach us via the link provided earlier and we'll help you out, ^VM", Sum_favourites_retweets=11066),
 Row(id_str="'816167583263162369'", Create_Date='Jan 03', user_verified='True', user_favourites_count=11081, retweet_count=0, text_="@stevebrowne Hi Steve, sorry to hear this. As we can't view accounts here, please contact here for more options: https://t.co/JzP7hlA23B ^CJ", Sum_favourites_retweets=11081),
 Row(id_str="'816326113660174336'", Create_Date='Jan 03', user_verified='True', user_favourites_count=11066, retweet_count=0, text_="@boozysmurf We'd like the chance to look into this w/ you &amp; investigate further. Pls reach out by phone/chat: https://t.co/3pBuw1SV0L ^KD", Sum_favourites_retweets=11066),
 Row(id_str="'816359349358575616'", Create_Date='Jan 03', user_verified='True', user_favourites_count=11066, retweet_count=0, text_='@MeghanSuslak If you have the tracking ID from the shipping label, please contact us by phone or chat here: https://t.co/CYqkdUakWJ ^GL', Sum_favourites_retweets=11066)]

In [0]:
from pyspark.sql.functions import desc 
Task3DataTop100 = Task3Data.sort(desc("Sum_favourites_retweets")).limit(100)

In [24]:
Task3DataTop100.show()

+--------------------+-----------+-------------+---------------------+-------------+--------------------+-----------------------+
|              id_str|Create_Date|user_verified|user_favourites_count|retweet_count|               text_|Sum_favourites_retweets|
+--------------------+-----------+-------------+---------------------+-------------+--------------------+-----------------------+
|'816356191035068422'|     Jan 03|         True|                13678|            0|@AmazonHelp This ...|                  13678|
|'816356580950163457'|     Jan 03|         True|                13678|            0|@AmazonHelp Pleas...|                  13678|
|'816296887921836033'|     Jan 03|         True|                11196|            0|@AmazonHelp hi th...|                  11196|
|'816083406962434048'|     Jan 03|         True|                11081|            1|@ItsJosshA We alw...|                  11082|
|'816095108013654017'|     Jan 03|         True|                11081|            1|@KStefl Sounds li...|                  11082|
|'816109446069911554'|     Jan 03|         True|                11081|            1|@Schoey1992 Happy...|                  11082|
|'816157517428523008'|     Jan 03|         True|                11081|            1|@ratbones666 You ...|                  11082|
|'816312666553720832'|     Jan 03|         True|                11081|            1|@ZeSaiyan We'll c...|                  11082|
|'816104253395705859'|     Jan 03|         True|                11081|            0|@kbsarfaraz Also,...|                  11081|
|'816104252800167937'|     Jan 03|         True|                11081|            0|@kckvn Hi, sorry ...|                  11081|
|'816104252842147840'|     Jan 03|         True|                11081|            0|@kbsarfaraz Hi Sa...|                  11081|
|'816104544593657856'|     Jan 03|         True|                11081|            0|@kckvn Kindly dro...|                  11081|
|'816274024502362112'|     Jan 03|         True|                11081|            0|@anki_010 Hey! Th...|                  11081|
|'816104663351181312'|     Jan 03|         True|                11081|            0|@kckvn Please don...|                  11081|
|'816309762426081280'|     Jan 03|         True|                11081|            0|@NeilRay82 I'm ho...|                  11081|
|'816107428186091520'|     Jan 03|         True|                11081|            0|@kckvn Hey, thank...|                  11081|
|'816239543284334592'|     Jan 03|         True|                11081|            0|@twatts_ You have...|                  11081|
|'816107428819464200'|     Jan 03|         True|                11081|            0|@kckvn correspond...|                  11081|
|'816262334054363136'|     Jan 03|         True|                11081|            0|@twatts_ If it ha...|                  11081|
|'816106918859182081'|     Jan 03|         True|                11081|            0|@yarrhanna Oh no!...|                  11081|
+--------------------+-----------+-------------+---------------------+-------------+--------------------+-----------------------+
only showing top 20 rows

In [25]:
Task3Data_tweets = Task3DataTop100.select("text_").rdd.flatMap(lambda x: x).collect()
Task3Data_tweets[0:5]

['@AmazonHelp This is becoming a joke now. I need to speak to a supervisor. Your colleagues keep trying to put me through then cutting me off',
 '@AmazonHelp Please don’t suggest I call you again. You need to arrange for a supervisor to call me asap. DM please',
 "@AmazonHelp hi there, seeing a monthly charge on my CC from Amazon but can't find any subscriptions in my account. help?",
 '@ItsJosshA We always aim to deliver by the date given in your confirmation email. Have we missed that date? Any update in tracking?  ^NF',
 '@KStefl Sounds like you know what to add to your Halloween playlist for this year! ^BV']

In [0]:
# Creating Spark Context
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [27]:
# Reading 'tweet' to a RDD object using spark context
tweet_rdd = sc.parallelize(Task3Data_tweets)
tweet_rdd.take(5)

['@AmazonHelp This is becoming a joke now. I need to speak to a supervisor. Your colleagues keep trying to put me through then cutting me off',
 '@AmazonHelp Please don’t suggest I call you again. You need to arrange for a supervisor to call me asap. DM please',
 "@AmazonHelp hi there, seeing a monthly charge on my CC from Amazon but can't find any subscriptions in my account. help?",
 '@ItsJosshA We always aim to deliver by the date given in your confirmation email. Have we missed that date? Any update in tracking?  ^NF',
 '@KStefl Sounds like you know what to add to your Halloween playlist for this year! ^BV']

In [0]:
import string
import re

def clean_tweet(x):
  
  # Delete all the URLs in the tweets
  text00 = re.sub(r'www\S+', '', x)
  text01 = re.sub(r'http\S+', '', text00)
  
  # Delete all the numbers in the tweets
  text1 = ''.join([i for i in text01 if not i.isdigit()])
  
  # Delete all the punctuation marks in the tweets
  text2 = text1.translate(str.maketrans('','',string.punctuation))
  
  # Convert text to LOWERCASE
  text3 = text2.lower()

  return text3

In [29]:
# Cleaning the text of tweets: 1. Removing URLs, 2. Removing non-alphabets, 3. Lowercase 
clean_tweet_rdd = tweet_rdd.map(clean_tweet)
clean_tweet_rdd.take(10)

['amazonhelp this is becoming a joke now i need to speak to a supervisor your colleagues keep trying to put me through then cutting me off',
 'amazonhelp please don’t suggest i call you again you need to arrange for a supervisor to call me asap dm please',
 'amazonhelp hi there seeing a monthly charge on my cc from amazon but cant find any subscriptions in my account help',
 'itsjossha we always aim to deliver by the date given in your confirmation email have we missed that date any update in tracking  nf',
 'kstefl sounds like you know what to add to your halloween playlist for this year bv',
 'schoey happy birthday matt friendsforever friendshipgoals jo',
 'ratbones you so fancy you already knooow ep',
 'zesaiyan well certainly try to get it to you danny has the tracking updated as out for delivery here  hb',
 'kbsarfaraz also please dont provide the order details as we consider it personal information ht ',
 'kckvn hi sorry about that being a public platform well not be able to access your account from here  mj']

In [30]:
# Building Map function
map = clean_tweet_rdd.flatMap(lambda line: line.split(" ")).map(lambda word: (word, 1))
map.take(5)

[('amazonhelp', 1), ('this', 1), ('is', 1), ('becoming', 1), ('a', 1)]

In [31]:
# Building Reduce function
counts = map.reduceByKey(lambda a, b: a + b)
counts.take(5)

[('this', 25), ('is', 15), ('becoming', 1), ('joke', 1), ('now', 2)]

In [32]:
# Total number of distinct words
print(len(counts.collect()))

497

In [33]:
# Getting the Top 10 most popular words and their words frequency
# Sorting 'counts' in descending order and getting the first 10 elements
countsSorted = counts.takeOrdered(497) # Conditioned on that number of characters in the string should be at least 1
countsSorted

[('', 79),
 ('a', 20),
 ('ab', 1),
 ('able', 4),
 ('about', 4),
 ('above', 1),
 ('access', 2),
 ('account', 6),
 ('accounts', 1),
 ('add', 1),
 ('additional', 1),
 ('address', 1),
 ('af', 7),
 ('after', 3),
 ('again', 3),
 ('aim', 3),
 ('ajfus', 1),
 ('ak', 3),
 ('already', 1),
 ('also', 3),
 ('always', 2),
 ('am', 2),
 ('amazon', 2),
 ('amazonhelp', 3),
 ('amp', 2),
 ('an', 3),
 ('and', 10),
 ('anki', 1),
 ('another', 1),
 ('any', 12),
 ('anything', 2),
 ('aoamlibrarian', 1),
 ('apologies', 3),
 ('app', 1),
 ('appreciate', 1),
 ('ar', 10),
 ('are', 3),
 ('armchairdj', 1),
 ('arrange', 1),
 ('arrive', 7),
 ('arrived', 1),
 ('as', 4),
 ('asap', 1),
 ('asinalexander', 2),
 ('assist', 2),
 ('assistance', 2),
 ('at', 3),
 ('available', 1),
 ('bank', 1),
 ('be', 10),
 ('becoming', 1),
 ('been', 1),
 ('before', 1),
 ('being', 1),
 ('below', 1),
 ('better', 1),
 ('birthday', 1),
 ('bourge', 2),
 ('briancranfill', 2),
 ('browsers', 1),
 ('business', 5),
 ('but', 2),
 ('bv', 4),
 ('by', 7),
 ('ca', 1),
 ('call', 4),
 ('can', 18),
 ('cant', 2),
 ('care', 1),
 ('carriers', 3),
 ('case', 1),
 ('causing', 1),
 ('cc', 1),
 ('center', 2),
 ('certainly', 1),
 ('chance', 1),
 ('charge', 1),
 ('chat', 5),
 ('check', 7),
 ('checkout', 1),
 ('cj', 2),
 ('cl', 5),
 ('closer', 3),
 ('cocolf', 1),
 ('colleagues', 1),
 ('concern', 1),
 ('concerns', 1),
 ('confirm', 1),
 ('confirmation', 1),
 ('connorbring', 1),
 ('consider', 3),
 ('contact', 11),
 ('contacted', 2),
 ('correspondence', 3),
 ('could', 1),
 ('credit', 1),
 ('credited', 1),
 ('cs', 1),
 ('current', 1),
 ('cutting', 1),
 ('danny', 1),
 ('date', 8),
 ('date\r\nku', 1),
 ('dates', 1),
 ('day', 6),
 ('days', 2),
 ('daysplease', 1),
 ('delay', 3),
 ('delayed', 1),
 ('delays', 1),
 ('deliver', 5),
 ('delivered', 4),
 ('deliveries', 2),
 ('delivery', 10),
 ('details', 10),
 ('did', 1),
 ('different', 1),
 ('direct', 1),
 ('disappointment', 1),
 ('dm', 1),
 ('do', 4),
 ('does', 1),
 ('doesnt', 3),
 ('done', 1),
 ('dont', 6),
 ('don’t', 1),
 ('dragonfyre', 1),
 ('drop', 1),
 ('early', 1),
 ('ecentricat', 1),
 ('edthered', 1),
 ('elaborate', 1),
 ('elapsed', 1),
 ('em', 1),
 ('email', 9),
 ('en', 6),
 ('end', 1),
 ('enough', 1),
 ('ep', 4),
 ('est', 1),
 ('estimaded', 1),
 ('estimated', 1),
 ('excessive', 1),
 ('expected', 1),
 ('experience', 2),
 ('expires', 1),
 ('extra', 1),
 ('facing', 1),
 ('fancy', 1),
 ('feedback', 4),
 ('feel', 2),
 ('fill', 4),
 ('find', 2),
 ('follow', 2),
 ('following', 1),
 ('for', 34),
 ('form', 3),
 ('forwarded', 1),
 ('friendsforever', 1),
 ('friendshipgoals', 1),
 ('from', 3),
 ('frustration', 3),
 ('fulfillment', 2),
 ('further', 2),
 ('get', 6),
 ('gice', 1),
 ('give', 2),
 ('given', 2),
 ('glad', 1),
 ('goes', 1),
 ('going', 1),
 ('good', 1),
 ('greedyguzzler', 2),
 ('greensparkletme', 1),
 ('halloween', 1),
 ('handle', 1),
 ('happy', 5),
 ('has', 2),
 ('hasnt', 2),
 ('have', 11),
 ('havent', 1),
 ('hb', 2),
 ('hear', 3),
 ('hello', 1),
 ('help', 10),
 ('helpsr', 1),
 ('here', 29),
 ('hesitate', 1),
 ('hey', 6),
 ('heypardeep', 1),
 ('hi', 14),
 ('hk', 3),
 ('hoping', 1),
 ('hours', 4),
 ('how', 1),
 ('however', 1),
 ('ht', 1),
 ('i', 6),
 ('iamshp', 1),
 ('iathul', 2),
 ('id', 3),
 ('if', 17),
 ('iiirdi', 9),
 ('ikumarvinod', 6),
 ('ill', 1),
 ('im', 11),
 ('improve', 1),
 ('in', 17),
 ('inconvenience', 1),
 ('indicate', 1),
 ('info', 1),
 ('information', 6),
 ('internet', 1),
 ('into', 8),
 ('investigate', 1),
 ('is', 15),
 ('issue', 4),
 ('issues', 1),
 ('it', 10),
 ('its', 4),
 ('itsjossha', 1),
 ('ittakesii', 1),
 ('jeansgrey', 1),
 ('jo', 5),
 ('joeygeorge', 2),
 ('joke', 1),
 ('joyfulneesh', 1),
 ('jtreadway', 1),
 ('just', 1),
 ('kamranhusain', 1),
 ('kbsarfaraz', 2),
 ('kckvn', 5),
 ('keep', 6),
 ('keeping', 1),
 ('kindly', 5),
 ('kmaccrory', 1),
 ('knooow', 1),
 ('know', 10),
 ('kstefl', 1),
 ('kyleschowalker', 1),
 ('late', 7),
 ('lbr', 8),
 ('let', 6),
 ('letting', 1),
 ('like', 10),
 ('link', 7),
 ('linkca', 1),
 ('listed', 5),
 ('look', 9),
 ('looking', 2),
 ('m', 1),
 ('main', 1),
 ('majerus', 1),
 ('malytwotails', 1),
 ('manufacturer', 1),
 ('martianman', 1),
 ('matt', 1),
 ('may', 3),
 ('me', 3),
 ('meant', 1),
 ('mentioned', 1),
 ('menu', 1),
 ('might', 1),
 ('missed', 3),
 ('mj', 6),
 ('mm', 1),
 ('moment', 2),
 ('moniza', 2),
 ('monthly', 1),
 ('more', 3),
 ('most', 1),
 ('mrdctaylor', 1),
 ('my', 6),
 ('mylyfesongz', 1),
 ('naijadrew', 1),
 ('need', 5),
 ('neilray', 1),
 ('new', 3),
 ('next', 3),
 ('nf', 2),
 ('no', 1),
 ('normally', 1),
 ('not', 4),
 ('now', 2),
 ('number', 1),
 ('of', 1),
 ('off', 1),
 ('og', 1),
 ('oh', 1),
 ('on', 7),
 ('once', 3),
 ('only', 1),
 ('options', 12),
 ('or', 8),
 ('order', 14),
 ('orders', 3),
 ('origin', 1),
 ('other', 3),
 ('our', 7),
 ('out', 10),
 ('package', 2),
 ('packages', 1),
 ('packaging', 2),
 ('page', 5),
 ('palinawali', 1),
 ('parcel', 1),
 ('parcels', 2),
 ('particular', 1),
 ('past', 1),
 ('pay', 1),
 ('payment', 1),
 ('personal', 3),
 ('phone', 4),
 ('phototony', 2),
 ('pick', 1),
 ('pk', 2),
 ('platform', 1),
 ('playlist', 1),
 ('please', 26),
 ('pls', 4),
 ('pm', 2),
 ('policyhowto', 1),
 ('poor', 2),
 ('posted', 5),
 ('posting', 1),
 ('proceed', 1),
 ('process', 2),
 ('processed', 1),
 ('product', 2),
 ('provide', 4),
 ('provided', 2),
 ('provider', 1),
 ('public', 3),
 ('put', 1),
 ('questions', 1),
 ('quick', 1),
 ('ra', 1),
 ('ratbones', 1),
 ('reach', 8),
 ('reached', 1),
 ('reaches', 1),
 ('reaching', 1),
 ('received', 5),
 ('recommend', 3),
 ('refer', 1),
 ('refers', 1),
 ('refund', 6),
 ('refunds', 1),
 ('registered', 1),
 ('regret', 1),
 ('report', 3),
 ('reporting', 1),
 ('request', 2),
 ('requested', 1),
 ('response', 1),
 ('return', 1),
 ('returned', 2),
 ('returnreplacement', 1),
 ('returns', 1),
 ('revert', 2),
 ('review', 4),
 ('rishi', 1),
 ('rishirv', 1),
 ('rm', 4),
 ('rottenartist', 1),
 ('same', 2),
 ('sanjay', 1),
 ('saratweetshere', 1),
 ('sarfaraz', 1),
 ('say', 1),
 ('sbronste', 1),
 ('scan', 1),
 ('schoey', 1),
 ('schoolboyserg', 1),
 ('secure', 1),
 ('see', 3),
 ('seeing', 1),
 ('select', 3),
 ('selecting', 1),
 ('selection', 1),
 ('seller', 1),
 ('sent', 2),
 ('service', 2),
 ('set', 1),
 ('sg', 1),
 ('sh', 1),
 ('share', 4),
 ('shipping', 2),
 ('ships', 1),
 ('shortly', 2),
 ('shout', 1),
 ('show', 2),
 ('similar', 1),
 ('since', 1),
 ('sirloin', 1),
 ('site', 1),
 ('sj', 8),
 ('skip', 1),
 ('so', 4),
 ('some', 1),
 ('soon', 3),
 ('sorry', 21),
 ('sorted', 1),
 ('sounds', 2),
 ('speak', 1),
 ('specific', 1),
 ('status', 1),
 ('step', 1),
 ('steps', 5),
 ('steve', 1),
 ('stevebrowne', 1),
 ('still', 1),
 ('stuff', 2),
 ('stuffgtshipment', 1),
 ('subscriptions', 1),
 ('suggest', 1),
 ('supervisor', 2),
 ('sure', 1),
 ('survey', 1),
 ('sv', 4),
 ('take', 6),
 ('tamarastampone', 1),
 ('td', 1),
 ('tell', 2),
 ('textbook', 1),
 ('thanks', 6),
 ('that', 10),
 ('thats', 1),
 ('the', 60),
 ('then', 5),
 ('there', 2),
 ('these', 1),
 ('they', 1),
 ('this', 25),
 ('through', 3),
 ('time', 4),
 ('to', 62),
 ('tomorrow', 1),
 ('touch', 3),
 ('track', 1),
 ('tracking', 6),
 ('transit', 1),
 ('tried', 2),
 ('trouble', 2),
 ('try', 2),
 ('trying', 1),
 ('twatts', 2),
 ('twitter', 2),
 ('typically', 5),
 ('understand', 2),
 ('understanding', 1),
 ('until', 2),
 ('unusual', 1),
 ('up', 3),
 ('update', 3),
 ('updated', 2),
 ('updates', 1),
 ('us', 36),
 ('use', 2),
 ('using', 5),
 ('usually', 1),
 ('valid', 1),
 ('very', 1),
 ('via', 4),
 ('view', 1),
 ('visible', 2),
 ('want', 2),
 ('way', 2),
 ('we', 30),
 ('wed', 7),
 ('welcome', 3),
 ('well', 6),
 ('were', 4),
 ('what', 5),
 ('whats', 3),
 ('when', 5),
 ('wheres', 3),
 ('while', 1),
 ('will', 10),
 ('with', 10),
 ('within', 3),
 ('without', 1),
 ('woody', 1),
 ('working', 1),
 ('would', 2),
 ('yarrhanna', 2),
 ('year', 2),
 ('you', 46),
 ('youd', 1),
 ('youll', 1),
 ('your', 33),
 ('youre', 5),
 ('youve', 1),
 ('yp', 1),
 ('zesaiyan', 1),
 ('zlgreen', 4),
 ('👍bv', 1)]

In [34]:
## Converting the final Map-reduce output into a data frame
import pandas as pd

# Creating a dataframe object from listoftuples
MapReduceOutput = pd.DataFrame(countsSorted, columns = ['Tweet_Word' , "Frequency"])

print(MapReduceOutput)

MapReduceOutput.head()

    Tweet_Word  Frequency
0                      79
1            a         20
2           ab          1
3         able          4
4        about          4
..         ...        ...
492      youve          1
493         yp          1
494   zesaiyan          1
495    zlgreen          4
496        👍bv          1

[497 rows x 2 columns]

  Tweet_Word  Frequency
0                    79
1          a         20
2         ab          1
3       able          4
4      about          4

In [0]:
MapReduceOutput.to_excel(r"C:\Users\ishre\Desktop\IDS 561\Assignments\Assignment 2\Ass2_Mapreduce.xlsx")

In [0]:
#Part 2

In [0]:
#Renaming id_str column to tweet_id in Tweet_sdf to remove ambiguity

Tweet_sdf = Tweet_sdf.withColumnRenamed("id_str", "tweet_id")

In [41]:
#Importing the data as a pandas dataframe and printing its shape

import pandas as pd
find_text = pd.read_csv("/content/find_text.csv") 
find_text.head()
find_text.shape

(53928, 2)

In [39]:
# Converting Pandas Dataframe into Spark RDD Dataframe

find_text = find_text.astype(str) # Converting pandas df to string first
find_text_sdf = spark.createDataFrame(find_text)
find_text_sdf.show(10, False) # False allows us to show entire content of the columns

+--------------------+----+
|id_str              |text|
+--------------------+----+
|'793270689780203520'|nan |
|'793281386912354304'|nan |
|'793299404975247360'|nan |
|'793301295255945216'|nan |
|'793315815411978240'|nan |
|'793322306848292864'|nan |
|'793322433625415680'|nan |
|'793365409047023616'|nan |
|'793369654878232577'|nan |
|'793375905280393216'|nan |
+--------------------+----+
only showing top 10 rows

In [42]:
#Joining find_text_sdf with Tweet_sdf according to id_str

left_join = find_text_sdf.join(Tweet_sdf, find_text_sdf.id_str == Tweet_sdf.tweet_id, how='left') # Could also use 'left_outer'
left_join.show()

+--------------------+----+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+--------------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+-------+-----+----+---------+-----+----+-----------+
|              id_str|text|            tweet_id|    tweet_created_at|user_screen_name|user_id_str|user_statuses_count|user_favourites_count|user_protected|user_listed_count|user_following|    user_description|       user_location|user_verified|user_followers_count|user_friends_count|     user_created_at|tweet_language|               text_|favorite_count|favorited|in_reply_to_screen_name|in_reply_to_status_id_str|in_reply_to_user_id_str|retweet_count|retweeted|                text|WeekDay|Month|Date|TimeStamp|  Geo|Year|Create_Date|
+--------------------+----+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+--------------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+-------+-----+----+---------+-----+----+-----------+
|'793322306848292864'| nan|'793322306848292864'|Tue Nov 01 05:22:...|      AmazonHelp| 85741735.0|            2225478|                11366|         False|              792|         False|We answer Amazon ...|                 nan|         True|              149571|                53|Wed Oct 28 04:17:...|            en|@Murtazansp Hello...|             0|    False|             Murtazansp|     7.933158154119782...|           2908108256.0|            0|    False|                 nan|    Tue|  Nov|  01| 05:22:31|+0000|2016|     Nov 01|
|'802611169642983424'| nan|'802611169642983424'|Sat Nov 26 20:33:...|     AsherzMason|715293713.0|              27157|                33195|         False|               44|         False|             22 🇬🇧|                 nan|        False|                 553|               166|Mon Oct 14 23:37:...|            en|@AmazonHelp Can't...|             0|    False|             AmazonHelp|     8.026107420128666...|             85741735.0|            0|    False|                 nan|    Sat|  Nov|  26| 20:33:09|+0000|2016|     Nov 26|
|'802612367855157249'| nan|'802612367855157249'|Sat Nov 26 20:37:...|      AmazonHelp| 85741735.0|            2226902|                11379|         False|              794|         False|We answer Amazon ...|                 nan|         True|              149675|                53|Wed Oct 28 04:17:...|            en|@uglybeautyqueen ...|             0|    False|        uglybeautyqueen|     8.026114585048474...|             35028391.0|            0|    False|@uglybeautyqueen ...|    Sat|  Nov|  26| 20:37:54|+0000|2016|     Nov 26|
|'802610799613243392'| nan|'802610799613243392'|Sat Nov 26 20:31:...|  HeLovedGlitter|354190845.0|              47498|                 2694|         False|               11|         False|En el Amor con Mi...|            ✨✨✨✨✨✨✨✨|        False|                 512|               619|Sat Aug 13 08:43:...|            en|@AmazonHelp so tr...|             0|    False|             AmazonHelp|     8.026053459652977...|             85741735.0|            0|    False|                 nan|    Sat|  Nov|  26| 20:31:41|+0000|2016|     Nov 26|
|'802612493830987776'| nan|'802612493830987776'|Sat Nov 26 20:38:...|      missygpnyc| 19739759.0|              17416|                 5635|         False|                6|         False|Lewisham Girl, Yo...|                 nan|        False|                 207|               655|Thu Jan 29 22:41:...|            en|@AmazonHelp For n...|             0|    False|             AmazonHelp|     8.026108818298143...|             85741735.0|            0|    False|                 nan|    Sat|  Nov|  26| 20:38:25|+0000|2016|     Nov 26|
|'793378188416131072'| nan|'793378188416131072'|Tue Nov 01 09:04:...|      AmazonHelp| 85741735.0|            2225496|                11366|         False|              792|         False|We answer Amazon ...|                 nan|         True|              149570|                53|Wed Oct 28 04:17:...|            en|@imkapsicum about...|             0|    False|             imkapsicum|     7.933696548782326...|             59156981.0|            0|    False|                 nan|    Tue|  Nov|  01| 09:04:35|+0000|2016|     Nov 01|
|'802612002329858049'| nan|'802612002329858049'|Sat Nov 26 20:36:...|      AmazonHelp| 85741735.0|            2226902|                11379|         False|              794|         False|We answer Amazon ...|                 nan|         True|              149675|                53|Wed Oct 28 04:17:...|            en|@faizanams Hi, so...|             0|    False|              faizanams|     8.02609485302743e+17|            837127824.0|            0|    False|                 nan|    Sat|  Nov|  26| 20:36:27|+0000|2016|     Nov 26|
|'802611248890265604'| nan|'802611248890265604'|Sat Nov 26 20:33:...|      AmazonHelp| 85741735.0|            2226916|                11379|         False|              794|         False|We answer Amazon ...|                 nan|         True|              149676|                53|Wed Oct 28 04:17:...|            en|@mvel4u Sorry to ...|             0|    False|                 mvel4u|     8.02606670039765e+17|            432582372.0|            0|    False|                 nan|    Sat|  Nov|  26| 20:33:28|+0000|2016|     Nov 26|
|'802611458504847360'| nan|'802611458504847360'|Sat Nov 26 20:34:...| uglybeautyqueen| 35028391.0|               2267|                  120|         False|                3|         False|I love my kids , ...|          Sheffield |        False|                 134|               157|Fri Apr 24 20:23:...|            en|@AmazonUK What ti...|             0|    False|               AmazonUK|                      nan|            209004862.0|            0|    False|                 nan|    Sat|  Nov|  26| 20:34:18|+0000|2016|     Nov 26|
|'793393912769576960'| nan|'793393912769576960'|Tue Nov 01 10:07:...|     mybharatraj|902137872.0|               1248|                  293|         False|                2|         False|         Mera BHARAT|               India|        False|                  50|                13|Wed Oct 24 16:24:...|            en|@AmazonHelp now a...|             0|    False|            mybharatraj|     7.933906366197596...|            902137872.0|            0|    False|                 nan|    Tue|  Nov|  01| 10:07:04|+0000|2016|     Nov 01|
|'793369654878232577'| nan|'793369654878232577'|Tue Nov 01 08:30:...|      imkapsicum| 59156981.0|                257|                   89|         False|                0|         False|Web-developer, up...|       Mumbai, India|        False|                  94|                58|Wed Jul 22 15:36:...|            en|xtremely annoyed ...|             0|    False|                    nan|                      nan|                    nan|            0|    False|                 nan|    Tue|  Nov|  01| 08:30:40|+0000|2016|     Nov 01|
|'802611490289291264'| nan|'802611490289291264'|Sat Nov 26 20:34:...|      AmazonHelp| 85741735.0|            2226916|                11379|         False|              794|         False|We answer Amazon ...|                 nan|         True|              149676|                53|Wed Oct 28 04:17:...|            en|@mvel4u Please do...|             0|    False|                 mvel4u|     8.02606670039765e+17|            432582372.0|            0|    False|                 nan|    Sat|  Nov|  26| 20:34:25|+0000|2016|     Nov 26|
|'802610828373594115'| nan|'802610828373594115'|Sat Nov 26 20:31:...|       jackiesic| 37080099.0|              42252|                 1224|         False|              167|         False|Fiscal Conservati...|Southeast of Diso...|        False|                6047|              5187|Fri May 01 23:50:...|            en|@AmazonHelp On ch...|             0|    False|             AmazonHelp|     8.026102502600294...|             85741735.0|            0|    False|                 nan|    Sat|  Nov|  26| 20:31:47|+0000|2016|     Nov 26|
|'793382930085253121'| nan|'793382930085253121'|Tue Nov 01 09:23:...|      AmazonHelp| 85741735.0|            2225534|                11367|         False|              795|         False|We answer Amazon ...|                 nan|         True|              149573|                53|Wed Oct 28 04:17:...|            en|@mybharatraj Hi! ...|             0|    False|            mybharatraj|     7.93379112685568e+17|            902137872.0|            0|    False|@mybharatraj Hi! ...|    Tue|  Nov|  01| 09:23:25|+0000|2016|     Nov 01|
|'793379112685568000'| nan|'793379112685568000'|Tue Nov 01 09:08:...|     mybharatraj|902137872.0|               1248|                  293|         False|                2|         False|         Mera BHARAT|               India|        False|                  50|                13|Wed Oct 24 16:24:...|            en|@amazonIN it is r...|             0|    False|               amazonIN|                      nan|           1282946089.0|            0|    False|                 nan|    Tue|  Nov|  01| 09:08:15|+0000|2016|     Nov 01|
|'802611878274809856'| nan|'802611878274809856'|Sat Nov 26 20:35:...|      christesla|174427901.0|               5793|                 2114|         False|               32|         False|Director of @Cybe...|           Liverpool|        False|                 702|               918|Tue Aug 03 22:26:...|            en|@AmazonUK what ti...|             0|    False|               AmazonUK|                      nan|            209004862.0|            0|    False|@AmazonUK what ti...|    Sat|  Nov|  26| 20:35:58|+0000|2016|     Nov 26|
|'802611248424751104'| nan|'802611248424751104'|Sat Nov 26 20:33:...|      AmazonHelp| 85741735.0|            2226916|                11379|         False|              794|         False|We answer Amazon ...|                 nan|         True|              149676|                53|Wed Oct 28 04:17:...|            en|@Jonny_Winter I'm...|             0|    False|           Jonny_Winter|     8.026096867804488...|             90684338.0|            0|    False|                 nan|    Sat|  Nov|  26| 20:33:28|+0000|2016|     Nov 26|
|'802611489521733632'| nan|'802611489521733632'|Sat Nov 26 20:34:...|      AmazonHelp| 85741735.0|            2226916|                11379|         False|              794|         False|We answer Amazon ...|                 nan|         True|              149676|                53|Wed Oct 28 04:17:...|            en|@mvel4u Request y...|             0|    False|                 mvel4u|     8.02606670039765e+17|            432582372.0|            0|    False|                 nan|    Sat|  Nov|  26| 20:34:25|+0000|2016|     Nov 26|
|'802611347338850304'| nan|'802611347338850304'|Sat Nov 26 20:33:...|        HoopRobe|628477747.0|               8265|                 2200|         False|                0|         False|views are not my ...|Vancouver, Britis...|        False|                 193|               154|Fri Jul 06 15:29:...|            en|@AmazonHelp 'Amaz...|             0|    False|             AmazonHelp|     8.02611012604072e+17|             85741735.0|            0|    False|                 nan|    Sat|  Nov|  26| 20:33:51|+0000|2016|     Nov 26|
|'793381418395136000'| nan|'793381418395136000'|Tue Nov 01 09:17:...| praveen_pandey_|110354554.0|                408|                    3|         False|                1|         False|                 nan|                 nan|        False|                  52|                37|Mon Feb 01 07:21:...|            en|@AmazonHelp yster...|             0|    False|             AmazonHelp|                      nan|             85741735.0|            0|    False|                 nan|    Tue|  Nov|  01| 09:17:25|+0000|2016|     Nov 01|
+--------------------+----+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+--------------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+-------+-----+----+---------+-----+----+-----------+
only showing top 20 rows

In [43]:
#Selecting id_str and text_ from the joined tables

left_join_out = left_join.select(left_join.id_str, left_join.text_)

#TweetDataCol = Tweet_sdf.select(Tweet_sdf.id_str, Tweet_sdf.Create_Date, Tweet_sdf.user_verified, Tweet_sdf.user_favourites_count, Tweet_sdf.retweet_count, Tweet_sdf.text_)
left_join_out.show(20, False)

+--------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------+
|id_str              |text_                                                                                                                                                     |
+--------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------+
|'793552243689676800'|@AmazonHelp amazon have made and admitted to a series of error that have impacted a myself and a colleague                                                |
|'793595479116439552'|@SuNoSuKo Please don't provide your order details we consider them as personal info. Our twitter page is visible to public. ^VM                           |
|'793751757247619072'|@aasifkhan Hey, I'm sorry for this. Product should reach the fulfillment center, when it does the refund will be issued. ^AA                              |
|'793788930361556996'|@AmazonHelp I would get more assistance from the dead than from AmazonUK                                                                                  |
|'793797330310983680'|Disgusting service @amazonIN
Products are not getting delivered at door step instead getting call from delivery boy to collect from bus stop             |
|'793819060505108480'|@Joe_Twells1 Sorry about that! Please try this Contact Us link for the UK: https://t.co/qy3J24VGxb. ^LS                                                   |
|'793828605746896897'|Made an order using @AmazonUK Prime last Wednesday. Waited in for it all day Saturday as it was 'being delivered today'. It's just arrived 😑             |
|'793899985444241408'|@JohnnyHeatrock Hey, thanks for reaching out. You should find some helpful information about this offer here: https://t.co/hb0WbW7w9l ^PF                 |
|'793903133462331392'|@mrniceguy1987 Please keep us posted with the arrival of your order. We want to make sure it gets to you. ^GL                                             |
|'793904094595444736'|@AmazonHelp will do                                                                                                                                       |
|'793920564628955137'|@AmazonHelp need help with fire stick. There's nothing on network settings. Tried to call but users on phone useless https://t.co/x72TzjatGj              |
|'793923389203316736'|@magicwaz Sorry for the delays. Have you received any emails recently explaining the extensions? ^BG                                                      |
|'794220779768451072'|@AmazonHelp I could see it is available from the same seller, yet i am being denied for a replacement.
myphone : +91-7899888859. https://t.co/UQj7S9AEYg|
|'794263348447678464'|@Nikki_Revak I'm sorry your FireTV Stick isn't working.Can you tell us what's happening? Have you restarted it: https://t.co/8hGwd2KfmD? ^KD              |
|'794279214388285440'|@samthejewishguy Sorry to hear this! You can find refund/replacement options here:  https://t.co/Y5jpI9gRhE. ^MT                                          |
|'794280604221276160'|@jesskatopps Sorry for this. For help on how to change the language please look here: https://t.co/cha8S78HwI ^GE                                         |
|'794305189926858753'|@AmazonHelp my package was supposed to arrive tomorrow, but now it's set back until the 9th . Very frustrating.                                           |
|'794314585608167425'|@KrishnaNand162 Hi, I'm afraid we'll not be able to provide any further insight with your concern. 1/2 ^MJ                                                |
|'794565369084186625'|@shiv_iipm Please don't provide your details, as we consider it to be personal information. Our Twitter page is visible to the public. ^AM                |
|'794648919720493061'|@_Balaji_ Hi there, for us to assist you better please reach us via https://t.co/4hcVq1YXsB &gt; Select the issue &gt; choose phone &gt; (1/2)            |
+--------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [44]:
join_output = left_join_out.select("*").toPandas()

print(join_output)

                     id_str                                              text_
0      '793552243689676800'  @AmazonHelp amazon have made and admitted to a...
1      '793595479116439552'  @SuNoSuKo Please don't provide your order deta...
2      '793751757247619072'  @aasifkhan Hey, I'm sorry for this. Product sh...
3      '793788930361556996'  @AmazonHelp I would get more assistance from t...
4      '793797330310983680'  Disgusting service @amazonIN\r\nProducts are n...
...                     ...                                                ...
53923  '809401768211685376'  @AmazonVideoIN Censored content, no support fo...
53924  '809412394212466689'  @AmazonHelp @rathipoonam please share details,...
53925  '809449404801421314'  @SlapdashGourmet We'd like to help. Are all it...
53926  '809513226144804864'  @deecaltee When did you reach out to the selle...
53927  '809729921320882179'  @engeetham Hi, sorry for the long stretch. We'...

[53928 rows x 2 columns]

In [0]:
#Exporting output to excel
join_output.to_excel(r"C:\Users\ishre\Desktop\IDS 561\Assignments\Assignment 2\find_text_output.xlsx")